<ion-view view-title="garage page title">
  <ion-content class="padding">
    Garage

    <ul class="list">
        <li class="item item-divider">Stor Garage</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
    </ul>
    <ul class="list">
        <li class="item item-divider">Liten Garage</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>
    </ul>
  </ion-content>
</ion-view>
