<ion-view view-title="helgus page title">
  <ion-content class="padding">
    <div class="list card">

<div class="item item-avatar">

<h2>Helgus gruppen</h2>
<p>tel:033 201822</p>
<p>mail:helgus@yahoo.com</p>
</div>

<div class="item item-body">
<img class="full-image" src="delorean.jpg">

<p>Kontakt person 1</p>
<p>Kontakt person 2</p>
<p>
This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
the content is from a card-body consisting of an image and paragraph text. The footer
consists of tabs, icons aligned left, within the card-footer.
</p>

</div>

</div>
  </ion-content>
</ion-view>
