<ion-view view-title="start page title">
  <ion-content class="content">
    <h1 class="title">Nolhaga<span>gatan</span> 41-67</h1>
      <img src="img/hem.jpg">
      <i class="ion-arrow-down-c"></i>
    <div class="homelistmenu">

<p>
Det ska vara lätt att se vad som sker i din bostadsförening
</p>

<div class="hemdelar">

<a class="item item-thumbnail-left" href="#">
<img src="img/atent.png">
<h2>Viktigt</h2>
<p>Följer du regler</p>
</a>
</div>

<div class="hemdelar">
<a class="item item-thumbnail-left" href="#">
<img src="img/hantlar.jpeg">
<h2>Gym</h2>
<p>Ny gym byggs i kälaren</p>
</a>
</div>


<div class="hemdelar">
<a class="item item-thumbnail-left" href="#">
<img src="img/bbb.png">
<h2>BredBandsBolaget</h2>
<p>Liten förklaring om det hela</p>
</a>
</div>

<div class="hemdelar sistahemdel">
<a class="item item-thumbnail-left" href="#">
<img src="img/ide.png">
<h2>Ide</h2>
<p>Har du ide på förbättringar</p>
</a>
</div>



</div>
  </ion-content>
</ion-view>
