<ion-view view-title="hyr page title">
  <ion-content class="padding">
    <div class="list card">

<div class="item item-avatar">
<img src="mcfly.jpg">
<h2>Gästlägenhet</h2>
<p>Pris 200kr/natt</p>
</div>

<div class="item item-body">
<img class="full-image" src="delorean.jpg">
<p>
This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
the content is from a card-body consisting of an image and paragraph text. The footer
consists of tabs, icons aligned left, within the card-footer.
</p>

</div>

</div>
<div class="list card">

<div class="item item-avatar">
<img src="mcfly.jpg">
<h2>Lokal</h2>
<p>Pris 200kr/tillfälle</p>
</div>

<div class="item item-body">
<img class="full-image" src="delorean.jpg">
<p>
This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
the content is from a card-body consisting of an image and paragraph text. The footer
consists of tabs, icons aligned left, within the card-footer.
</p>

</div>

</div>
<div class="list card">

<div class="item item-avatar">
<img src="mcfly.jpg">
<h2>Parkering</h2>
<p>30kr/dag</p>
</div>

<div class="item item-body">
<img class="full-image" src="delorean.jpg">
<p>
This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
the content is from a card-body consisting of an image and paragraph text. The footer
consists of tabs, icons aligned left, within the card-footer.
</p>

</div>

</div>
  </ion-content class="content">
</ion-view>
