<ion-view view-title="contact page title">
  <ion-content class="padding">

            <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Namn">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Ingång">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Lägenhetsnummer">
          </label>
          <label class="item item-input">
            <textarea placeholder="Comments"></textarea>
          </label>
          <button class="button button-full button-balanced" type="submit">Skicka</button>
        </div>
  </ion-content>
</ion-view>
