<ion-view view-title="planer page title">
  <ion-content class="padding">
    Planer och pågoende projekt
    <div class="card">
      <h4>Pågoende projekt</h4>
<div class="item item-text-wrap">
This is a basic Card which contains an item that has wrapping text.
</div>
<div class="item item-text-wrap">
This is a basic Card which contains an item that has wrapping text.
</div>
<div class="item item-text-wrap">
This is a basic Card which contains an item that has wrapping text.
</div>
<h4>Ideer och diskutioner</h4>
<div class="item item-text-wrap">
This is a basic Card which contains an item that has wrapping text.
</div>
<div class="item item-text-wrap">
This is a basic Card which contains an item that has wrapping text.
</div>
<div class="item item-text-wrap">
This is a basic Card which contains an item that has wrapping text.
</div>
</div>
  </ion-content>
</ion-view>
