<ion-view view-title="styrelse page title">
  <ion-content class="styrelse">


<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Kim</h2>
<h4>Ordförnade</h4>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>

<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Edin</h2>
<h4>Sekreterare</h4>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>

<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Toni</h2>
<h4>vice ordförnade</h4>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>

<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Christel</h2>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>

<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Tina</h2>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>

<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Lasse</h2>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>
<div class="item item-avatar">
<img src="venkman.jpg">
<h2>Margaritta</h2>
<p>mob: 07611111</p>
<p>mail:kim@yahoo.com</p>

</div>
  <!-- <ion-list ng-controller="aboutController">
      <ion-item ng-repeat="actor in actors">
        <h2>{{actor}}</h2>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
