<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>


  </head>
  <body ng-app="starter" ng-controller="left">
<ion-side-menus>
    <ion-side-menu-content>
      <ion-header-bar ng-app="header" class="bar-stable bar bar-header bar-dark">
        <button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>

        <h1 hide-header="" class="title">Nolhaga<span>gatan</span> 41-67</h1>

      </ion-header-bar>



      <ion-nav-view>


<div class="bar bar-footer">
  <i ui-sref="contact" class="icon ion-email"></i>
  <i ui-sref="start" class="icon ion-home"></i>
  <i ui-sref="vader" class="icon ion-umbrella"></i>
</div>


  </ion-nav-view>
</ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-list>
        <ion-item>
        <ion-header-bar class="sidemenu bar-stable bar bar-header ">Menu</ion-header-bar>
      </ion-item>
      </ion-list>
        <ion-list>
          <ion-item menu-close="" ui-sref="start">Home</ion-item>
        </ion-list>
        <ion-list>
          <ion-item menu-close="" ui-sref="styrelse">Styrelse</ion-item>
        </ion-list>
        <ion-list ng-controller="infoblad">
          <ion-item menu-close="" ui-sref="infoblad" ng-click="add()">Infoblad</ion-item>
        </ion-list>
        <ion-list>
          <ion-item menu-close="" ui-sref="garage">Garage</ion-item>
        </ion-list>
        <ion-list>
          <ion-item menu-close="" ui-sref="hyr">Hyr</ion-item>
        </ion-list>
        <ion-list>

          <ion-item menu-close="" ui-sref="contact">Kontakt</ion-item>
        </ion-list>

        <ion-list>
          <ion-item menu-close="" ui-sref="planer">Planer</ion-item>
        </ion-list>
        <ion-list>
          <ion-item menu-close="" ui-sref="helgus">Helgus</ion-item>
        </ion-list>
        <ion-list>
          <ion-item menu-close="" ui-sref="vader" id="g">V&#xE4;der</ion-item>
        </ion-list>
      </ion-side-menu>
</ion-side-menus>




  </body>
</html>
