@import url(https://fonts.googleapis.com/css?family=Sigmar+One|Varela+Round|Comfortaa:400,700);

// Font variables
$sigmarOne: 'Sigmar One', cursive;
$varelaRound:'Varela Round', sans-serif;
$comfortaa:'Comfortaa', cursive;
