$bg: #ccc222;
$transparentblack: rgba(0,0,0,.50);
$ff: 'arial';

@import 'colors';
@import 'mixins';
@import 'fonts';





.content {
    margin-bottom:10%;




    .view {
      margin-bottom:100px;
      background: grey;
    }

    .title {
      position: fixed;
      top:150px;
      color:white;
      text-align: center;
      background-color:$transparentblack;
      font-size: 2.5em;
      width: 100%;
    }


    img {
      padding:0px;
      height:500px;

    }



    p {
      color: white;
    }



@import "homelistmenu";




    .ion-arrow-down-c {
      color:gold;
      font-size:3em;
      position: fixed;
      top:430px;
      text-align: right;
      padding-right: 10px;

      width: 100%;
      -webkit-animation: bounce 4s infinite ease-in-out;
    }


@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-17px); }
	80% { -webkit-transform: translateY(-10px); }
  }


}



.title {
  text-transform: uppercase;
  font-family: $sigmarOne;

  padding:0px;
  height:100px;

    span {
      background-color: gold;
      font-family: $varelaRound;
      text-transform: lowercase;
      color:black;

  }
}



.bar {
  background-color: gold;
  border-top:2px solid black;


  .icon {
    font-size:40px;
    margin-top:-5px;
  }


  .ion-email{
    margin-left:10px;

  }


  .ion-home {
    margin:-5px auto ;
  }


  .ion-umbrella{
    margin-right:10px;
  }


}




.box {
  height:400px;
}


@import "infoblad"
